<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>288165151050-ngulkimd023ms8siucv34eibkkhlkphn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.288165151050-ngulkimd023ms8siucv34eibkkhlkphn</string>
	<key>API_KEY</key>
	<string>AIzaSyBrApTtdkebGT1aT_r4RORoycux6fNT_3s</string>
	<key>GCM_SENDER_ID</key>
	<string>288165151050</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.learning</string>
	<key>PROJECT_ID</key>
	<string>learning-15905</string>
	<key>STORAGE_BUCKET</key>
	<string>learning-15905.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:288165151050:ios:72b4723026a8c8b3d281b3</string>
</dict>
</plist>